h1{font-family:  Courier, monospace; font-size: large;text-align: center;}
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    padding: 20px 0;
}

h1, h2 {
    margin: 0;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
h2{background-color: rgb(230, 230,230);}
nav > ul {
    background-color: rgb(230, 230, 230);
    list-style-type: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav a:hover {
    background-color: rgb(160,160,160);
    color: white;
}
.flex-nav{display:flex;}
.flex-nav{display: flex;justify-content:space-around;}
p{padding: 1px 15px;}
footer{background-color: rgb(150, 150, 150);font-style: italic;text-align: end;}